{% extends 'base.html.twig' %}

{% block title %} My new website ! - Inscription {% endblock %}

{% block body %}
    <h1> Inscription </h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Email :'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe :'
        }) }}

        <button type="submit" class="btn btn-lg btn-primary"> Confirmer </button>
    {{ form_end(registrationForm) }}
{% endblock %}
