{% extends 'base.html.twig' %}

{% block title %} My new website ! {% endblock %}

{% block body %}

    <!-- TITLE -->
    <div class="title">
        <h1> Découvrez et suivez vos équipes favorites de Ligue 1 ! </h1>
        <img src="{{ asset('img/ligue1.png') }}" alt="ligue1" class="title_logo">
    </div>

{% endblock %}
